@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kotlin-color: #A97BFF;
  --spring-color: #6DB33F;
  --mysql-color: #00758F;
  --java-color: #E76F00;
  --js-color: #F7DF1E;
}

@keyframes powerUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.skill-item {
  animation: powerUp 0.5s ease forwards;
  opacity: 0;
  margin-bottom: 1.5rem;
}

.skill-item:last-child {
  margin-bottom: 0;
}